/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: ;
  color: #fff;
}

body {
  min-height: 100vh;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(320deg , #3c096c ,#5a189a , #7b2cbf );
}

.wrapper {
  width: 370px;
  background: #fff;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.wrapper header {
  font-size: 22px;
  font-weight: 600;
  color: #10002b;
  text-align: center;
}

.wrapper form {
  margin: 40px 0 20px 0;
}

.wrapper form input,
.wrapper form select,
.wrapper form button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 15px;
}

.wrapper form p {
  font-size: 18px;
  color: #10002b;
  margin-bottom: 5px;
  font-weight: bolder;
}

.wrapper form input {
  height: 50px;
  padding: 0 15px;
  border: 1px solid #999;
  font-size: 17px;
  color: #10002b;
}

.wrapper form input:focus {
  border: 2px solid #240046;
  padding: 0 14px;
}

.wrapper form .drop-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.wrapper form .drop-list .select-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 45px;
  border: 1px solid #999;
  border-radius: 15px;
}


.wrapper form .drop-list .select-box img {
  max-width: 21px;
}

.wrapper form .drop-list .select-box select {
  width: auto;
  font-size: 16px;
  font-weight: bolder;
  margin: 0 -5px 0 5px;
  cursor: pointer;
}

.wrapper form .drop-list .select-box select::-webkit-scrollbar {
  width: 8px;
}

.wrapper form .drop-list .select-box select::-webkit-scrollbar-track {
  background: #fff;
}

.wrapper form .drop-list .select-box select::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
  border-right: 2px solid #fff;
}

.wrapper .drop-list .icon {
  font-size: 22px;
  margin-top: 30px;
  cursor: pointer;
  color: #10002b;

  border: solid gray 1px ;
  border-radius: 10px;
  padding:5px 10px;
  background: var(--blue);
  color: var(--white);
  box-shadow: 0 13px 15px var(--shadow-1);
  transition: 0.3s;
}


.wrapper form .exchange_rate {
  font-size: 20px;
  margin: 20px 0 30px;
  font-weight: bolder;
  color: #10002b;
}

.wrapper form button {
  height: 52px;
  background: #240046;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.wrapper form button:hover {
  background: transparent;
  color: #240046;
  border: 2px solid #240046;
  font-weight: bolder;
}


select
{
  cursor: pointer;
}

button
{
  margin-top: 30px;
}
